[project]
name = "mcp-database"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "asyncpg>=0.31.0",
    "fastmcp>=2.14.4",
    "sqlalchemy>=2.0.46",
]
